{>"user_header.html"/}
{<what}{?query_author}sources{:else}{?query_user}{authors.length} {/query_user}authors{/query_author}{/what}
<div class="navigation">
    --
    {^is_users_own_page}
        {?query_user}
            see 
            <a href="{baseURL}{query_user_url}/sources">{query_user}'s sources</a> or
            <a href="{baseURL}{query_user_url}/tags">tags</a>{?userCtx.name}; <br />-- {/userCtx.name}
        {/query_user}
    {/is_users_own_page}
    {?userCtx.name}
        go to 
        {^is_users_own_page}
            <a href="{baseURL}/users/{userCtx.name|uc}/authors">your authors</a>,
        {/is_users_own_page}
        <a href="{baseURL}/users/{userCtx.name|uc}/sources">{?is_users_own_page}your {/is_users_own_page}sources</a> or
        <a href="{baseURL}/users/{userCtx.name|uc}/tags">tags</a>
    {/userCtx.name}
</div>


{#authors}
    <h1>
        {author_name}
    </h1>

    <ul class="sources">
        {#sources}
            <li class="source">
                <div class="title-line">
                    <a href="{baseURL}/users/{user_id|uc}/sources/{page_id|uc}">{TITLE}{page_title}{^TITLE}{^page_title}untitled{/page_title}{/TITLE}</a>
                    {! [{_id}] !}
                    {?YEAR}(<span class="year">{YEAR}</span>){/YEAR}
                    {!
                        {^query_user}
                            [<a href="{baseURL}/users/{user_id|uc}" class="to_source">{user_id}</a>
                        {/query_user}
                    !}
                    
                </div>
                <div class="citation">{>"bibliographic_details.html"/}</div>
            </li>
        {/sources}
    </ul>
{/authors}
{^authors}
    {^query_author}
        {?query_user}
            <p>{?is_users_own_page}You have{:else}{query_user} has{/is_users_own_page} no sources with authors yet.</a>
        {/query_user}
    {/query_author}
{/authors}
