{>"user_header.html"/}
{<what}notes{/what}

<h1>#{query_tag}</h1>

{#sources}    
    <h1 class="title-line">
        <a href="{baseURL}{query_user_url}/sources/{page_id|uc}" class="title">{TITLE}{page_title}{^TITLE}{^page_title}untitled{/page_title}{/TITLE}</a>
        {?YEAR}(<span class="year">{YEAR}</span>){/YEAR}
    </h1>
    <div class="citation">{>"bibliographic_details.html"/}</div>
    <div class='updated-line'>Updated <abbr class="updated_time _timeago" title="{source.updated_time}">{source.updated_time}</abbr>.</div>
    
    <div class='quotes'>
        {#quotes}
            <div class="quote" id="{_id}" >
                <div class="quote-line">
                    "<span class="quote-content">{content}</span>"
                    {?is_users_own_page}
                        <span class="add-a-note">[+]</span>
                    {:else}
                        [quoted by <span class='quote-user_id'>{user_id}</span>]
                    {/is_users_own_page}
                </div>
                {! [{page_order}] !}
                <ul class="notes _sort-me {^is_users_own_page}_not_user_page{/is_users_own_page}">
                    {#notes}
                        <li class="note">
                            {! display textarea if user can edit on this page, otherwise just the text !}
                            {?is_users_own_page}
                                <textarea id="{_id}" class="note-content" rows="1">{content}</textarea>
                            {:else}
                                <span class='quote-user_id'><a href="{baseURL}/users/{user_id|uc}">{user_id}</a></span>]
                                <span class="note-content">{content}</span>
                            {/is_users_own_page}
                        </li>
                    {/notes}
                </ul>
            </div>
        {/quotes}
    </div>
{/sources}
{^sources}
    <p> no sources for {?query_tag}tag #{query_tag}{/query_tag}</p>
{/sources}

    <div class='navigation' >
        {! todo !}
    </div>

<script>
    if( typeof($)!='undefined' ) {
        $('._sort-me').sortlist();
        $('textarea.note-content').autogrow();
    }
</script>
