{>"user_header.html"/}
{<what}notes{/what}
<div class="navigation" >
    {?is_users_own_page}
        -- see <a href="{baseURL}{query_tag_url}{query_source_url}">everyone's notes {?query_tag}with this tag{/query_tag}{?query_source}on this source{/query_source}</a>;
    {:else}
        {?userCtx.name}
            {?query_user}
                -- see &amp; edit <a href="{baseURL}/users/{userCtx.name|uc}{query_source_url}{query_tag_url}">your notes {?query_tag}with this tag{/query_tag}{?query_source}on this source{/query_source}</a>;
            {:else}
                {^no_sources}
                    -- see &amp; edit <a href="{baseURL}/users/{userCtx.name|uc}{query_source_url}{query_tag_url}">only your notes {?query_tag}with this tag{/query_tag}{?query_source}on this source{/query_source}</a>;
                {:else}
                {/no_sources}
            {/query_user}
        {:else}
            {?query_user}
                -- see <a href="{baseURL}{query_source_url}">everyone's notes on this</a>;
            {/query_user}
        {/userCtx.name}
    {/is_users_own_page}
    
    {^is_users_own_page}
        {?query_user}
            see
            <a href="{baseURL}{query_user_url}/sources">{query_user}'s sources</a>,
            <a href="{baseURL}{query_user_url}/authors">authors</a> or
            <a href="{baseURL}{query_user_url}/tags">tags</a>{?userCtx.name}; <br />-- {/userCtx.name} 
        {/query_user}
    {/is_users_own_page}

    {?userCtx.name}
        go to 
        <a href="{baseURL}/users/{userCtx.name|uc}">your sources</a>,
        <a href="{baseURL}/users/{userCtx.name|uc}/authors">authors</a> or
        <a href="{baseURL}/users/{userCtx.name|uc}/tags">your tags</a> 
    {/userCtx.name}
</div>


<h1>
    {?query_tag}#{query_tag}{/query_tag}
    {query_author}
</h1>

{#sources}
    <h2 class="title-line">
        <a href="{baseURL}{query_user_url}/sources/{page_id|uc}">
        {TITLE}{^TITLE}{page_title}{^page_title}untitled{/page_title}{/TITLE}
        </a>
        {?YEAR}(<span class="year">{YEAR}</span>){/YEAR}
    </h2>
    <div class="citation">{>"bibliographic_details.html"/}</div>
    
    <div class='quotes'>
        {?quotes}
            {#quotes}
                <div class="_nrama-quote" id="{hash}" >
                    <div class="quote-line">
                        "<span class="quote-content">{content}</span>"
                        {! TODO add-a-note should be possible provided logged in !}
                        {?is_users_own_page}
                            <a class="add-a-note">[+]</a>
                        {:else}
                            {^query_user}
                                [cited by
                                {#users}
                                    <span class='quote-user_id'><a href="{baseURL}/users/{.|uc}">{.}</a></span>{@sep}, {/sep}
                                {/users}]
                            {/query_user}
                            {! TODO re-quote should be possible provided logged in 
                                [&amp;re-quote]
                            !}
                        {/is_users_own_page}
                    </div>
                    {! [{page_order}] !}
                    <ul class="notes _sort-me {^is_users_own_page}_not_user_page{/is_users_own_page}">
                        {#notes}
                            <li id="{_id}" class="_nrama-note">
                                {?is_users_own_page}
                                    <textarea class="_nrama-note-content" rows="1">{content}</textarea>
                                {:else}
                                    {^query_user}
                                        <span class='quote-user_id'><a href="{baseURL}/users/{user_id|uc}">{user_id}</a></span>]
                                    {/query_user}
                                    <span class="_nrama-note-content">{content}</span>
                                {/is_users_own_page}
                            </li>
                        {/notes}
                    </ul>
                </div>
            {/quotes}
        {:else}
            {?is_users_own_page}
                <p>You have no notes on this source.</p>
            {:else}
                {?query_user}
                    <p>{query_user} has notes on this source.</p>
                {:else}
                    <p>There are no notes on this source.</p>
                {/query_user}
            {/is_users_own_page}
        {/quotes}
    </div>
{/sources}
{?no_sources}
    <p>
        {?is_users_own_page}
            You have
        {:else}
            {?query_user}
                {query_user} has no notes
            {:else}
                No one has
            {/query_user}
        {/is_users_own_page}
        no notes
        {?query_source}
            on this source
        {:else}
            {?query_tag}
                tagged with #{query_tag}
            {:else}
                {?query_author}
                    for author {query_author}
                {:else}
                    on this.
                {/query_author}
            {/query_tag}
        {/query_source}
    </p>
{/no_sources}

{>"footer_event.html"/}