<h1>
    {author}{?author} : {/author}
    {?user_id}
        {user_id}'s sources
    {:else}
        everyone's sources
    {/user_id}
</h1>

{?sources}
    <ul class="sources">
        {#sources page_user_id=user_id}
            <li class="source">
                <div class="title-line">
                    {^page_user_id}
                        [<a href="{baseURL}/user/{user_id}" class="to_source">{user_id}</a>]
                    {/page_user_id}
                    {! TODO : delete page_title !}
                    <a href="{baseURL}{user_url}/source/{page_id_enc}">{TITLE}{^TITLE}{page_title}{/TITLE}</a>
                    {! [{_id}] !}
                    {?YEAR}(<span class="year">{YEAR}</span>){/YEAR}
                </div>
                <div class="citation">{>"bibliographic_details.html"/}</div>
                <div class="url">{url}</div>
                <div class="updated">Updated <abbr class="updated_time _timeago" title="{updated_time}">{updated_time}</abbr>.</div>
            </li>
        {/sources}
    </ul>
{:else}
    {?user_id}
        <p>{user_id} has no sources yet.</p>
    {/user_id}
{/sources}

{! menu !}
<ul>
    {?user_id}
        <li>
            {?author}
                See <a href = "{baseURL}{author_url}">everyone's sources</a>
            {:else}
                See <a href = "{baseURL}/sources">everyone's sources</a>
            {/author}
        </li>
    {:else}
        {?userCtx.name}
            {?author}
                <li>See <a href="{baseURL}/user/{userCtx.name}{author_url}">your sources</a>.</li>
            {:else}
                <li>See <a href="{baseURL}/user/{userCtx.name}">your sources</a>.</li>
            {/author}
        {/userCtx.name}
    {/user_id}
</ul>

