{>"user_header.html"/}
{<what}{sources.length} sources{/what}
<div class="navigation">
    --
    {^is_users_own_page}
        {?query_user}
            see 
            <a href="{baseURL}{query_user_url}/authors">{query_user}'s authors</a> or
            <a href="{baseURL}{query_user_url}/tags">tags</a>{?userCtx.name}; <br />-- {/userCtx.name}
        {/query_user}
    {/is_users_own_page}
    {?userCtx.name}
        go to
        {^is_users_own_page}
            <a href="{baseURL}/users/{userCtx.name|uc}/sources">your sources</a>,
        {/is_users_own_page}
        <a href="{baseURL}/users/{userCtx.name|uc}/authors">{?is_users_own_page}your {/is_users_own_page}authors</a> or
        <a href="{baseURL}/users/{userCtx.name|uc}/tags">tags</a>
    {/userCtx.name}
</div>



<ul class="sources">
    {#sources}
        <li class="source">
            <div class="title-line">
                <a href="{baseURL}/users/{user_id|uc}/sources/{page_id|uc}">{TITLE}{^TITLE}{page_title}{^page_title}untitled{/page_title}{/TITLE}</a>
                {! [{_id}] !}
                {?YEAR}(<span class="year">{YEAR}</span>){/YEAR}
                {!
                    {^query_user}
                        [<a href="{baseURL}/users/{user_id|uc}" class="to_source">{user_id}</a>
                    {/query_user}
                !}
                
            </div>
            <div class="citation">{>"bibliographic_details.html"/}</div>
        </li>
    {/sources}
</ul>
{^sources}
    <p>
        {?query_user}
            {query_user} has no 
        {:else}
            No one has 
        {/query_user}
        sources
        {?query_author}
            by {query_author}
        {/query_author}
    </p>
{/sources}


