{>"user_header.html"/}
{<what}tags{/what}
<div class="navigation">
    --
    {^is_users_own_page}
        {?query_user}
            see 
            <a href="{baseURL}{query_user_url}/sources">{query_user}'s sources</a> or
            <a href="{baseURL}{query_user_url}/authors">authors</a>{?userCtx.name}; <br />-- {/userCtx.name}
        {/query_user}
    {/is_users_own_page}
    {?userCtx.name}
        go to 
        {^is_users_own_page}
            <a href="{baseURL}/users/{userCtx.name|uc}/tags">your tags</a>,
        {/is_users_own_page}
        <a href="{baseURL}/users/{userCtx.name|uc}/sources">{?is_users_own_page}your {/is_users_own_page}sources</a> or
        <a href="{baseURL}/users/{userCtx.name|uc}/authors">authors</a>
    {/userCtx.name}
</div>

<div style="position:relative;">
    <div style="margin-right: 551px">
        <ul class='tags-list' >
            {#tags}
                <li class="tag"><a href="{baseURL}{query_user_url}/tags/{text|uc}">{text}</a></li>
            {/tags}
        </ul>
    </div>
    <div class='tags-cloud' id="tag_cloud"
         style="position:absolute; right:0; top:0; width: 550px; height: 350px;">
    </div>
</div>

{>"footer_event.html"/}