{>"user_header.html"/}
{<what}tags{/what}
<div class="navigation">
    --
    {^is_users_own_page}
        {?query_user}
            see 
            <a href="{baseURL}{query_user_url}/sources">{query_user}'s sources</a> or
            <a href="{baseURL}{query_user_url}/authors">authors</a>{?userCtx.name}; <br />-- {/userCtx.name}
        {/query_user}
    {/is_users_own_page}
    {?userCtx.name}
        go to 
        {^is_users_own_page}
            <a href="{baseURL}/users/{userCtx.name|uc}/tags">your tags</a>,
        {/is_users_own_page}
        <a href="{baseURL}/users/{userCtx.name|uc}/sources">{?is_users_own_page}your {/is_users_own_page}sources</a> or
        <a href="{baseURL}/users/{userCtx.name|uc}/authors">authors</a>
    {/userCtx.name}
</div>

{^req_client}
    <ul>
        {#tags}
            <li><a href="">{text}</a> : {weight}</li>
        {/tags}
    </ul>
{/req_client}

<div id="tag_cloud" style="width: 550px; height: 350px; position: relative;"></div>

{>"footer_event.html"/}