<h1 style="margin-bottom:0;">Note-o-rama</h1>

<div class="instructions">
    <p style="margin-top:0;">Add notes and highlights to any web page.
        <br />Organise and review your notes and quotes by source, author and #tag.
    <p>
    
    <div>
        <img src="{baseURL}/static/img/nrama_demo.png"
             style="display: block; margin-left: auto; margin-right: auto;" />
        <p style="text-align: center">
            <i>Figure</i>.
            Left panel: annotate any web page.
            Right panel: organise your notes.
        </p>
    </div>
    
    
    
    {>"registration.html"/}
            
    
    <h2>How to use it</h2>
    <p>You can use Note-o-rama on any page you visit.</p>
    <p>When browsing a page, hit the bookmark you just made (step 2 above) to start making notes.
    (This bookmark won't take you to another page, it just injects some code.)
    </p>
    <p>
        NB:  Your notes will be  stored online, not in your browser.
        They are visible to all (like something you write on a blog or twitter).
    </p>
    <p>
        {#userCtx}
            To see all your notes{^name} sign up or log in then{/name}
            click your user name on the top right of this page{?name}
                <a href="{baseURL}/users/{userCtx.name|uc}">
                    or here</a>{/name}.
        {/userCtx}
    </p>

    <hr />
    
    <h2>Problems?</h2>
    <p>
        Note-o-rama should work in recent versions of Chrome, Firefox, Safari and Opera.
        <br />
        We don't promise that it will work in older browsers or Internet Explorer. <i>Tant pis</i>.
        <br />
    </p>
    <p>
        If it doesn't work, you may need to set your browser to accept cookies
        from all websites (sorry).
    </p>
    <p>
        Issues <a href="https://github.com/butterfill/note-o-rama/issues">may be reported here</a>.
    </p>
    
        
    <h2>Tips</h2>
    {#userCtx}
        <ul class="instructions" >
            <li>Move notes by dragging any edge.</li>
            <li>To delete a note, delete all of its text (it will then disappear).</li>
            <li>alt- or cmd- click a quote to delete it.</li>
            <li>Use #tags in notes{?name}<a href="{baseURL}/users/{name|uc}/tags"> (your tags)</a>{/name}.</li>
            <li>Paste a bibtex entry into a note to organise by author{?name} <a href="{baseURL}/users/{name|uc}/authors">(your authors)</a>{/name}.</li>
            <li>Hold shift, ctrl, meta or alt while selecting text if you don't want to quote (highlight) it.</li>
        </ul>
    {/userCtx}
    
    <hr />

    <h2>About</h2>
    <p>Note-o-rama is copyright (c) 2007-11 Stephen A. Butterfill.
        <a href="https://github.com/butterfill/note-o-rama" target="_blank">The code is open source.</a>
    </p>
</div>
