<h1>Note-o-rama</h1>

<div class="instructions">
    <p>Add notes and highlights to any web page; organise and review your notes by source, author and #tag.<p>
    
    <div>
        <img src="{baseURL}/static/img/nrama_demo.png"
             style="display: block; margin-left: auto; margin-right: auto;" />
        <p style="text-align: center">
            <i>Graphic</i>.
            Left panel: annotate any web page.
            Right panel: organise your notes.
        </p>
    </div>
    
    
    
    <div class="column-container" style="position:relative;">
        <div class="left-column"
             style="width: 375px" >
            <div class="left-column-inner"
                 style="padding-right: 15px;">
                <h2 >Get it</h2>
                
                <p>Step 1: (optional) ***LINK sign up or ***LINK login.
                <br />(You don't need to sign up, but if you choose not to 
                    others may edit or delete your notes.)
                </p>
                
                <p>Step 2: drag the link below to the bookmark bar in your browser (or otherwise bookmark it).</p>
                <p style="text-align:center">***LINK</p>
    
                <p>You can use Note-o-rama on any page you visit ...</p>
            </div>
        </div>
        
        <div class="right-column"
             style="position:absolute; right:0; top:0; width: 374px;
                    border-left: 1px dotted black;">
            <div class="right-column-inner"
                 style="padding-left: 25px" >
                <h2 style="margin-top: 0;">... or try it first</h2>
                <p>Click this link ***LINK to enable note-o-rama for this page.
                <ul class="instructions" >
                    <li>Selecting text highlights it and adds it to ***LINK your quotes.
                    </li>
                    <li>Clicking highlighted text adds a note to the page.
                    </li>
                    <li>You can review your notes *LINK here
                    </li>
                    <li>If you come back to this page, notes will
                        re-load when you ***LINK enable note-o-rama.
                    </li>
                </ul>
            </div>
        </div>
    </div>
            
    
    <h2>How to use it</h2>
    <p>When browsing a page, hit the bookmark you just made (step 2 above) to start making notes.
    (This bookmark won't take you to another page, it just injects some code.)
    
    <p>Clicking your user name on the top right of this page (***LINK or here)
        will take you to your notes.
    </p>

    
    <h2>Problems?</h2>
    <p>Note-o-rama should work in recent versions of Firefox, Chrome and Safari.</p>
    <p>We don't promise that it will work in older browsers or in Internet Explorer.</p>
    
        
    <h2>Pro tips</h2>
    <p>Move notes by dragging any edge.</p>
    <p>alt- or meta- click a quote to delete it.</p>
    <p>Use #tags in notes (***LINK your tags).</p>
    <p>Paste a bibtex entry into a note to organise by author (***LINK your authors).</p>
    
    

    <h2>About</h2>
    <p>Note-o-rama is copyright (c) 2007-11 Stephen A. Butterfill.
        ***LINK The code is publicly availble.
    </p>
</div>