<h1>Note-o-rama</h1>

<p>Add notes and highlights to any web page; organise and review your notes by source, author and #tag.<p>

<p>***Graphic. left panel: annotate any web page.   right panel: organise your notes.</p>


<h2>Get started</h2>

<p>Step 1: (optional) ***LINK sign up or ***LINK login.</p>
<p>(You don't have to sign up to use note-o-rama but if you choose not to sign up,
    others will be able to edit and delete your notes.)</p>

<p>Step 2: drag the link below to the bookmark bar in your browser (or otherwise bookmark it).</p>
<p>***LINK</p>


<h2>How to use it</h2>
<p>When browsing a page, hit the bookmark you just made to start making notes (it won't take you to another page, it just adds some code to the page you're on).
<ul>
    <li>Selecting text will highlight it and add it to ***LINK your quotes.
    </li>
    <li>Clicking a highlight will add a note to the page.
    </li>
    <li>And any notes you made previously will re-load.
    </li>
</ul>
<p>You can organise and edit your notes ***LINK here.
</p>


    
<h2>Pro tips</h2>
<p>Use #tags in notes</p>
<p>Paste a bibtex entry into a note and note-o-rama will sort your notes by author</p>


<p>Note-o-rama is copyright (c) 2007-11 Stephen A. Butterfill
</p>