/**
 * modified from kanso admin app, needs more work.
 * license is license for kanso app.
 * TODO include proper text layout style
 */

/**
 * bibliographic
 */
.booktitle {
    font-style: italic;
}
.journal {
    text-decoration : underline;
}
.bibliographic-details {
}
.bibliographic-details.compact {
    padding-top: 0.33em;
}
div.bibliographic-details.compact, div.bibliographic-details.compact a {
    color : rgb(75,75,75);
    text-align : right;
}


/**
 * links --- I prefer underline but it's too distracting in this app (lots of links)
 */
a, a:visited {
    text-decoration: none;
    color : black;
}
a:hover {
    /*border-bottom : 1px dotted rgb(125,125,125);*/
    text-decoration : underline;
    background-color : #F2F2F2;
    text-shadow: 0 0 3px rgb(255,255,255), 0 0 1px rgb(255,255,255);
}
.instructions a {
    text-decoration: underline;
    color : #08298A;
}


/**
 * the logo & login bit, top right
 */

#session-container {
    color: #ccc;
    font-size : 15px;
    font-family : 'Helvetica Neue', 'Helvetica', Arial, FreeSans, sans-serif;
    background:#000;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-bottom: 0.2em;
    z-index: 9999;
    box-shadow : -1px -1px 10px rgba(0,0,0, 0.5);
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft : 5px;
}

div#session {
   display:inline; 
    margin: 0.2em 1em;
}

#session .username a {
    color: #FFF;
    margin-right: 1em;
    text-shadow : 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    border-left: 1px solid #666;
    padding: 0 0 0 1em;
}
#session .username a:hover {
    background-color : inherit;
    text-decoration : none;
    color : #000;
    text-shadow : 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #ff2d95, 0 0 10px #ff2d95, 0 0 14px #ff2d95, 0 0 17px #ff2d95, 0 0 27px #ff2d95;
}

#session ul.actions,
#session ul.actions li {
    list-style-type: none;
    display: inline;
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

#session ul.actions li a {
    color: #999;
    text-decoration: none;
}

#session ul.actions li a:hover {
    color: #FFF;
    background-color : inherit;
    text-shadow : 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #ff2d95, 0 0 10px #ff2d95, 0 0 14px #ff2d95, 0 0 17px #ff2d95, 0 0 27px #ff2d95;
}

#session ul.actions,span.username {
    border-left: 1px solid #666;
}

#session ul.actions li {
    padding: 0 0 0 1em;
}

.loggedout .logout { display: none !important; }
.loggedout .login { display: inline !important; }
.loggedout .signup { display: inline !important; }
.loggedin .logout { display: inline !important; }
.loggedin .login { display: none !important; }
.loggedin .signup { display: none !important; }

#login_form .actions,
#signup_form .actions {
    text-align: right;
}

#login_form label,
#signup_form label {
    display: inline-block;
    width: 90px;
}

#login_form .errors,
#signup_form .errors {
    font-size: 0.8em;
    color: red;
    padding-left: 90px;
}

#login_form .general_errors,
#signup_form .general_errors {
    font-size: 0.8em;
    color: red;
    font-weight: bold;
}


#nrama_logo {
    color : #000;
    padding-left : 1em;
    text-shadow : 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #ff2d95, 0 0 10px #ff2d95, 0 0 14px #ff2d95, 0 0 17px #ff2d95, 0 0 27px #ff2d95;
    display : inline;
}
#nrama_logo :hover {
    color : #fff;
    text-decoration: none;
    background-color : inherit;
    text-shadow : 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}

/**
 * for the content
 */

abbr {
    border : none;
}

body {
    font-size: 14px;
    font-family: Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    max-width : 800px;
}

hr {
    border: none;
    width: 33%;
    color: #BBB;
    height: 1px;
    background-color: #BBB;
    margin-top: 5em;
}

#content {
    margin-left: 25px;
    margin-right : 25px;
}

div.spacer {
    padding : 0.5em;
}


h1.title-line {
    padding-top : 1em;
    padding-bottom : 0;
    margin-bottom : 0;
    font-size : 24px;
    font-weight:bold;
}
h2.title-line {
    padding-top : 1em;
    padding-bottom : 0;
    margin-bottom : 0;
    font-size : 18px;
    font-weight:bold;
}

h2.user-line {        
    padding-bottom : 0;
    margin-bottom : 0;
    font-size : 18px;
    font-weight:bold;
}

div.quotes {
    margin-top : 2em;
    line-height : 1.5em;
}
.instructions h2 {
    padding-top : 1em;
}

a:hover .icon {
    color: #666;
    text-decoration: none;
}

/* title within source display */
.source .title-line {
    font-size : 18px;
}

/* source within quote */
._nrama-quote .title-line {
    text-align : right;
}
.source-for-single-quote {
    text-align : right;
}
/* quote in the flow -- bigger than usual */
.quote-line.flow {
    font-size : 16px;
    padding-top : 1em;
    line-height : 1.5em;
}
._nrama-note textarea {
    line-height : 1.5em;
}
._nrama-note-content {
    margin-bottom: 1em;
}

ul {
    -webkit-padding-start : 0px;
    padding-left : 0em;
}
ul.notes, ul.instructions  {
    padding-left : 2em;
}
ul.notes._not_user_page {
    margin-bottom : 2em;
}
ul.notes._not_user_page li, li.user-line {
    margin-bottom : 1em;
}
li {
    display:block;
}
.instructions li {
    display: list-item;
    list-style: circle;
    padding-bottom: 0.5em;
}
li.source {
    padding-bottom : 2em;
}
li.tag {
    display:block;
    padding-bottom : 1em;
    font-size : 16px;
    padding-left : 2em;
}
textarea._nrama-note-content {
    background-color : inherit;
    font-size: 14px;
    font-family: Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
    border : none;
    resize:none;
    width:100%;
    height:auto;
    padding : 0;
    margin : 0;
}

th {
    text-align: left;
}

#main {
    padding: 18px;
}

p {
    margin: 1em 0;
    padding: 0;
}


.simplemodal-data h2 {
    margin-top: 0;
}

table.typelist,
table.viewlist {
    clear: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 18px 0;
    line-height: 0;
    /* width: 100%; */
}

.typelist th,
.viewlist th {
    text-align: left;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.typelist th,
.viewlist th {
    padding: 0em 1em;
    line-height: 1.618em;
}

.typelist td.actions,
.viewlist td.actions {
    padding: 0.618em 1em 0 0.618em;
}


.typelist td,
.viewlist td {
    vertical-align: top;
    background-color: #fefefe;
    padding: 1em 0;
    margin: 0;
    border: 0;
}
.typelist tr.odd td,
.viewlist tr.odd td {
    background-color: #f9f9f9;
}

.typelist td.data,
.viewlist td.data {
    font-size: 0.9em;
    padding: 1.4em 1em 1.4em 0;
}

.typelist tr:hover td,
.viewlist tr:hover td {
    background-color: #eee;
}

.typelist td.data a,
.viewlist td.data a {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    color: black;
    text-decoration: none;
    padding: 0 1em;
}

th.actions,
td.actions {
    width: 210px;
    padding: 0;
    margin: 0;
    padding-left: 50px !important;
}

form.delete_form {
    display: inline;
    margin: 0;
    padding: 0;
}

.render-table th {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

.render-table td {
    vertical-align: top;
}

.render-table tbody.head th {
    color: #555;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 1.5em;
    border-bottom: solid 1px #888;
}

.description,
.hint {
    font-weight: normal;
    color: #666;
    font-size: 0.85em;
    margin-bottom: 1em;
}
p.description {
    margin-bottom: 2em;
}

.render-table ul.errors {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
    list-style-type: none;
}

.render-table ul.errors li {
    padding: 0;
    margin: 0;
    color: #f88;
}

.button {
    text-decoration: none;
    color: #666;
    font-size: 0.8em;
    background: none;
    display: inline;
    cursor: pointer;
    margin: 0;
}

.button .label {
    position: relative;
    top: -0.286em;
    margin: 0;
    padding: 0;
    margin-bottom: -0.286em;
}

.button input {
    cursor: pointer;
    text-decoration: none;
    color: #666;
    background: none;
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: -0.5em;
    border: 0;
}
.button input.icon {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #999;
}

.button input.label {
    margin: 0;
    padding: 0;
    font-size: 11.2px;
    font-family : 'Helvetica Neue', 'Helvetica', Arial, FreeSans, sans-serif;
}


.button:hover {
    color: #000;
}

.button:hover input {
    color: #000;
}
.button:hover input.icon {
    color: #666;
}

.top_actions {
    margin: 2px 0 12px 0;
}
.bottom_actions {
    margin: 12px 0;
}

.bottom_actions .button input.icon {
    margin-right: 0.236em;
}
.top_actions .button,
.bottom_actions .button {
    margin-right: 12px;
}

td.actions .button {
    margin-right: 18px;
}

.viewtype th {
    padding-right: 20px;
    vertical-align: top;
}


#flashmessages {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
}

#flashmessages li {
    padding: 0.5em 1em;
    background-color: #eee;
    border-radius: 3px;
}

#flashmessages li.error {
    background-color: #fdd;
}

#flashmessages li.success {
    background-color: #dfd;
}


/**
 * simplemodal stuff
 */

#simplemodal-overlay {
    background-color: #000;
}

#simplemodal-container {
    background-color:#fff;
    border: 8px
    solid #444;
    padding: 12px;
}


/**
 * tag cloud 
 */
div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
}
div.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud a:hover {
  color: #0df;
}
div.jqcloud a:hover {
  color: #0cf;
}
div.jqcloud span {
  padding: 0;
}
div.jqcloud span.w10 {
  font-size: 54px;
  color: #0cf;
}
div.jqcloud span.w9 {
  font-size: 50px;
  color: #0cf;
}
div.jqcloud span.w8 {
  font-size: 44px;
  color: #0cf;
}
div.jqcloud span.w7 {
  font-size: 40px;
  color: #39d;
}
div.jqcloud span.w6 {
  font-size: 34px;
  color: #90c5f0;
}
div.jqcloud span.w5 {
  font-size: 30px;
  color: #90a0dd;
}
div.jqcloud span.w4 {
  font-size: 24px;
  color: #90c5f0;
}
div.jqcloud span.w3 {
  font-size: 20px;
  color: #a0ddff;
}
div.jqcloud span.w2 {
  font-size: 14px;
  color: #99ccee;
}
div.jqcloud span.w1 {
  font-size: 10px;
  color: #aab5f0;
}






/**
 * can go?
 */

.spinner {
    display: inline;
    background: url("images/spinner-small.gif");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 1em;
    padding: 1em;
}

.widget .selector select {
    min-width: 10em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.layout {
    overflow: hidden;
}

.embedlist .item {
    clear: both;
}

.embedlist .actions {
    float: none;
    overflow: visible;
    padding-left: 0;
}

.embedlist .item .actions {
    float: right;
    overflow: hidden;
}

.embedlist .embed {
    float: none;
    overflow: visible;
}

.embedlist .item .embed {
    float: left;
    overflow: hidden;
}
